body {
  background-image: url("../imagens/desenho-loucao.jpg");
}

table, td, th {
  border: 1px solid black;
}

table{
  border-collapse: collapse;
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table th {
  color: white;
  background-color: gray;
}